<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_creditmemo_save_after">
        <observer name="rally_order_webhook" instance="Rally\Checkout\Observer\RefundOrderWebhookObserver"/>
        <observer name="rally_order_status_webhook" instance="Rally\Checkout\Observer\OrderStatusWebhookObserver"/>
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="rally_order_status_webhook" instance="Rally\Checkout\Observer\OrderStatusWebhookObserver"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="rally_order_status_webhook" instance="Rally\Checkout\Observer\OrderStatusWebhookObserver"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="rally_order_update_webhook" instance="Rally\Checkout\Observer\OrderUpdateWebhookObserver"/>
    </event>
    <event name="admin_sales_order_address_update">
        <observer name="rally_order_update_webhook" instance="Rally\Checkout\Observer\OrderUpdateWebhookObserver"/>
    </event>
    <event name="catalog_product_attribute_update_before">
        <observer name="rally_mass_product_update_webhook" instance="Rally\Checkout\Observer\ProductMassUpdateAfterObserver"/>
    </event>
    <event name="checkout_submit_all_after">
        <observer name="rally_product_inventory_update_webhook" instance="Rally\Checkout\Observer\InventoryUpdateAfterObserver"/>
        <observer name="rally_order_create_webhook" instance="Rally\Checkout\Observer\OrderCreateWebhookObserver"/>
    </event>
    <event name="ppo_order_update_after">
        <observer name="rally_product_inventory_update_webhook" instance="Rally\Checkout\Observer\InventoryUpdateAfterObserver"/>
    </event>
    <event name="rally_create_guest_account">
        <observer name="rally_guest_to_customer" instance="Rally\Checkout\Observer\GuestToCustomerObserver"/>
    </event>
</config>
